body {
  padding: 20px;
  background-color: #cfdbd5;
  color: #242423;
  font-family: "Work Sans", sans-serif;
  src: "https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap";
}

.App {
  text-align: left;
  width: 60%;
  margin: 0 auto;
  background-color: #e8eddf;
}

p {
  font-size: 18px;
}

h3 {
  font-size: 24px;
}

.intro {
  /* display: flex;
  flex-direction: row; */
  color: #e8eddf;
  background-color: #333533;
  padding: 10px 30px;
  border-bottom: 5px solid #f5cb5c;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.intro h1 {
  font-size: 45px;
  text-shadow: 0 0 5px #000000;
}

.grid {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cells {
  width: 20px;
  height: 20px;
  border: 1px solid #242423;
  background-color: #cfdbd5;
}

.btnbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
}

button {
  width: 175px;
  height: 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
}

button:hover {
  background-color: #f5cb5c;
}

.presetTitle {
  margin-top: 40px;
  margin-bottom: -10px;
  text-align: center;
}

.rules {
  padding: 10px 30px 15px 30px;
}

.about {
  padding: 10px 0px;
}
